<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.test.dao.MtUserDao">
	<!-- column数据库 -->
	<resultMap type="com.test.bean.MtUserBean" id="userBean">
		<id column="userid" property="userId"/>
		<result column="username" property="userName" jdbcType="VARCHAR"/>
		<result column="tel" property="tel"/>
		<result column="city" property="city"/>
		<result column="loginname" property="loginName"/>
		<result column="loginpwd" property="loginPwd"/>
		<result column="paypwd" property="payPwd"/>
		<result column="balance" property="balance"/>
	</resultMap>
	
	<select id="getOneById" parameterType="java.lang.Integer"  resultMap="userBean"  >
		select * from users where userid=#{userId}
	</select>
	
	<select id="getUser"   resultMap="userBean">
		select * from users 
	</select>
	
	<insert id="insetOne" parameterType ="com.test.bean.MtUserBean">
		insert into mt_user (
			username,
			tel,
			city,
			loginname,
			loginpwd,
			paypwd,
			balance
		)
		values(
			#{userName,jdbcType=VARCHAR},#{tel,jdbcType=VARCHAR},#{city,jdbcType=VARCHAR},
			#{loginname,jdbcType=VARCHAR},#{loginpwd,jdbcType=VARCHAR},#{payPwd,jdbcType=VARCHAR},#{balance,jdbcType=VARCHAR}
		)
	</insert>
	
	<update id="updateOne" parameterType ="com.test.bean.MtUserBean">
		update mt_user  
		<trim prefix="SET" suffixOverrides=",">
		 <if test="username!=null">
		 	username=#{userName,jdbcType=VARCHAR},
		 </if>
		 <if test="tel != null">
		 	username=#{tel,jdbcType=VARCHAR},
		 </if>
		 <if test="city !=null">
		 	username=#{city,jdbcType=VARCHAR},
		 </if>
		 <if test=" loginpwd !=null">
		 	username=#{loginpwd,jdbcType=VARCHAR},
		 </if>
		 <if test="payPwd !=null">
		 	username=#{payPwd,jdbcType=VARCHAR},
		 </if>
		 <if test="balance !=null">
		 	balance=#{payPwd,jdbcType=VARCHAR},
		 </if>
		 </trim>
		 where userid=#{id}
	</update>
	
</mapper>